*.class
*.log
TODO
/.idea


/kafka-sms-analyser/.bsp
/kafka-sms-analyser/.idea
/kafka-sms-analyser/target
/kafka-sms-analyser/project/project
/kafka-sms-analyser/project/target
/kafka-sms-analyser/TODO

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
