<Configuration name="ConfigTest" status="ERROR" monitorInterval="500">
    <Properties>
        <Property name="filename">/opt/kessenger/spark-streaming-analyser/logs/application.log</Property>
    </Properties>
    <ThresholdFilter level="trace"/>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="FILE" fileName="${filename}">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="io.github.malyszaryczlowiek.SparkStreamingAnalyser" level="info" additivity="false">
            <!-- <Property name="user">${sys:user.name}</Property>-->
            <AppenderRef ref="FILE" level="trace"/>
            <AppenderRef ref="CONSOLE" level="trace"/>
        </Logger>
        <Logger name="SparkStreamingAnalyser" level="info" additivity="false">
            <AppenderRef ref="FILE" level="trace"/>
            <AppenderRef ref="CONSOLE" level="trace"/>
        </Logger>





        <Logger name="io.github.malyszaryczlowiek.config.AppConfig" level="trace" additivity="false">
            <!-- <Property name="user">${sys:user.name}</Property>-->
            <AppenderRef ref="FILE" level="trace"/>
            <AppenderRef ref="CONSOLE" level="trace"/>
        </Logger>
        <Logger name="io.github.malyszaryczlowiek.config.Database" level="trace" additivity="false">
            <!-- <Property name="user">${sys:user.name}</Property>-->
            <AppenderRef ref="FILE" level="trace"/>
            <AppenderRef ref="CONSOLE" level="trace"/>
        </Logger>

        <Logger name="io.github.malyszaryczlowiek.db.DatabaseSaver" level="trace" additivity="false">
            <!-- <Property name="user">${sys:user.name}</Property>-->
            <AppenderRef ref="FILE" level="trace"/>
            <AppenderRef ref="CONSOLE" level="trace"/>
        </Logger>
        <Logger name="io.github.malyszaryczlowiek.writers.PostgresWriter" level="trace" additivity="false">
            <!-- <Property name="user">${sys:user.name}</Property>-->
            <AppenderRef ref="FILE" level="trace"/>
            <AppenderRef ref="CONSOLE" level="trace"/>
        </Logger>
<!--        <Logger name="io.github.malyszaryczlowiek.parsers.RowParser" level="trace" additivity="false">-->
<!--            &lt;!&ndash; <Property name="user">${sys:user.name}</Property>&ndash;&gt;-->
<!--            <AppenderRef ref="FILE" level="trace"/>-->
<!--            <AppenderRef ref="CONSOLE" level="trace"/>-->
<!--        </Logger>-->
<!--        <Logger name="io.github.malyszaryczlowiek.mappers.KafkaMappers" level="trace" additivity="false">-->
<!--            &lt;!&ndash; <Property name="user">${sys:user.name}</Property>&ndash;&gt;-->
<!--            <AppenderRef ref="FILE" level="trace"/>-->
<!--            <AppenderRef ref="CONSOLE" level="trace"/>-->
<!--        </Logger>-->



        <Root level="warn">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>